# Node.js dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Database files
*.sqlite
*.sqlite3

# IDE/Editor files
.vscode/
*.log
.DS_Store