.site-footer{
    background-color: #111;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    font-size: 0.9rem;
    text-align: center;
    margin-top: 2rem;
}